@model Badik56.Models.PageObjects.AboutModel
@section Index{
    <link rel="stylesheet" type="text/css" href="~/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/styles/responsive.css">
}
<div class="super_container">
    <div class="newsletter" style="margin-top:5%; margin-bottom:2%;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="newsletter_border"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="newsletter_content text-center">
                        <div class="newsletter_title"><h1>Основная информация магазина Ортопедия</h1></div>
                        <div class="newsletter_text" style="color: black; text-align: left;">
                            <p>
                                <h3>Наш комиссионный магазин медицинской техники был открыт в 2019 году в Оренбурге.</h3><br>
                                Мы предлагаем своим клиентам только надежную, качественную медицинскую технику и оборудование для инвалидов, соответствующее всем требованиям по использованию в лечебно-профилактических учреждениях, больницах и на дому.
                                В отличие от большинства салонов или интернет-магазинов, специализирующихся только на конкретном направлении продукции, мы предлагаем своим клиентам более широкий ассортимент товаров для здоровья и восстановления.
                                <br>Основные группы товаров, которые можно купить в нашем комиссионном магазине:
                                <br>- Ортопедические изделия (ортопедические бандажи на коленный, локтевой и голеностопные суставы, корсеты, корректоры осанки, послеоперационные бандажи);
                                <br>- Средства реабилитации(инвалидные коляски, кресло-туалеты, ходунки для инвалидов, роллаторы, трости, костыли, насадки на унитаз, сиденья и поручни для туалета и ванны);
                                <br>- Медтехника для дома (ингаляторы, тонометры, глюкометры и бактерицидные лампы, рециркуляторы, аппараты магнитотерапии и физиотерапии).
                                <br><br>
                                Организована отправка изделий в любую точку России, доставляем на дом или в больницу.
                                Только качественный товар от проверенных производителей.
                                Для Вас у нас самые низкие цены, индивидуальный подход к каждому клиенту, скидки и акции.
                                <br><br>
                                <h3>ПРИЁМ НА КОМИССИЮ</h3>
                                В нашем магазине организован приём от населения на комиссию (на реализацию) следующих изделий, в том числе бывших в употреблении:
                                <br><br>

                                <br>а) Технические средства реабилитации (ТСР): трости, ходунки, костыли, инвалидные коляски, кресла с санитарным оснащением

                                <br>б) Медицинские кровати, противопролежневые матрасы, подъемники, вертикализаторы, прикроватные столики и другие технические средства для ухода за лежачими больными и инвалидами

                                <br>в) Домашняя медицинская техника (массажеры, тонометры, приборы магнитотерапии и т.п.)
                                <br><br>
                                <h3>УСЛОВИЯ ПРИЁМА</h3>
                                <br>1. Все изделия принимаются ТОЛЬКО в чистом виде!

                                <br>2. Нательные ортопедические изделия (пояса, корсеты, бандажи, компрессионные изделия, стельки и т.п.) на комиссию НЕ ПРИНИМАЮТСЯ!
                                <br><br>
                                <h3>ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</h3>
                                <br><br>
                                Также для Вашего удобства в нашем магазине организована выдача медицинской техники напрокат на следующих условиях:
                                <br>1. Клиент вносит залоговую сумму в размере полной стоимости изделия.
                                <br>2. Пользование изделием допустимо на срок от одного дня до трёх месяцев.
                                <br>3. На момент возвращения изделия Клиенту возвращается залоговая сумма, а он, в свою очередь, уплачивает стоимость аренды техники в размере:
                                <br> <br> - первый месяц пользования – 1% стоимости изделия в день
                                <br> - второй месяц пользования – 0,8% стоимости изделия в день
                                <br> - третий месяц пользования – 0,5% стоимости изделия в день
                            </p>
                        </div>
                        <div class="newsletter_form_container">
                            <form action="/Home/Subscribe" id="newsletter_form" method="post" class="newsletter_form">
                                <input name="email" type="email" class="newsletter_input" required="required">
                                <button class="newsletter_button trans_200"><span>Подписаться</span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>